html{
    scroll-behavior: auto !important;
}

body{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;

}


#brand-text{
    font-weight: 700;
    font-size: x-large;
}

#inicio{
    font-weight: 600;
}

@media (min-width:576px){
    .img-carousel{
        width: 100%;
        height: 100vh;
    }
    .colapsar-1{
        display: none;
    }
}

h4{
    font-weight: 700;
}


#footer a{
    color: #ffffff;
    text-decoration: none;
}



